@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary-blue: #1992d4;
    --clr-primary-white: #fbfcfd;
    --clr-primary-yellow: #efaf1a;
    --clr-primary-grey: #e2e8f0;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

.container {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}


.header {
    background-color: var(--clr-primary-white);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 2rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.header__search {
    display: grid;
    grid-template-columns: 1fr 40fr;
    justify-items: start;
 
}



.header__search__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.header__search__profile__name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__pfp {
    width: 55px;
    height: 55px;
    border-radius: 25px;

    box-shadow: 0px 0px 5px 0px;
}




.sidebar{
    background-color: var(--clr-primary-blue);
    color: var(--clr-primary-white);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    
}

.main {
    background-color: var(--clr-primary-grey);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding: 2rem;
    gap: 1rem;
    height: 100vh;
}

.main__panels {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 2rem;
}

.main__side-panel {
    display: grid;
    
}

.main__panels > article {
    background-color: white;
    border-radius: 5px;
    
    padding: 2rem;
    border-left: 0.6rem solid var(--clr-primary-yellow);
    box-shadow: 0px 0px 5px 0px black;
}

.main__panels-article-share {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.main__side-panel__announcements > article,
.main__side-panel__trending > article {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

input {
    width: 30rem;
    height: 1.4rem;
    border-radius: 25px;
    border: none;
    background-color: var(--clr-primary-grey);
    
}


