@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary-blue: #1992d4;
    --clr-primary-white: #fbfcfd;
    --clr-primary-yellow: #efaf1a;
    --clr-primary-grey: #e2e8f0;
}

body {
    font-family: 'Roboto', sans-serif;
    
    
   
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    max-height: 100vh;
    
    
}


/* Header */

.header {
    background-color: var(--clr-primary-white);
    grid-column: 2 / 3;
    
    
}

.header__searchbar {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 1rem;
}

.header__searchbar-search {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 1.2rem 2rem;
}

.magnify,
.bell {
    width: 1.5rem;
}

.search {
    background-color: var(--clr-primary-grey);
    border-radius: 25px;
    border: none;
    width: 60rem;
    height: 2rem;
    padding: 1rem;
    font-size: 15pt;
}

.header__searchbar-profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

.header__searchbar__profile-name > h2 {
    font-size: 15pt;
}



.header__searchbar__profile-name {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__searchbar-profile-name-pfp {
    width: 3.5rem;
    height: 4rem;
    border-radius: 50px;
}

.header__profilebar {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.header__profilebar-profile {
    display: flex;
    align-items: center;
    padding: 1.6rem 4rem;
    gap: 1rem;
}

.header__profilebar-pfp {
    width: 8rem;
    height: 9rem;
    border-radius: 100px;
}

.header__profilebar-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;
}

button {
    background-color: var(--clr-primary-blue);
    padding: 0.7rem 2rem;
    border-radius: 100px;
    border: none;

    font-size: 15pt;
    font-weight: 500;
    color: var(--clr-primary-white);
}

button:hover {
    background-color: var(--clr-primary-grey);
    color: var(--clr-primary-blue);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--clr-primary-blue);
}

/* Sidebar */

h1 {
    font-size: 25pt;
    display: flex;
    align-items: center;
    gap: 1rem;
}
h1 > img {
    width: 3rem;
}

.sidebar {
    background-color: var(--clr-primary-blue);
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    color: var(--clr-primary-white);
    padding: 1rem 1.2rem;
    
    box-shadow: 5px 0px 10px 0px rgba(116,116,116,0.35);
    z-index: 1;
}

.sidebar__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
    font-size: 20pt;
    font-weight: 500;
    margin-top: 2rem;
    padding: 0.8rem;
    
}

.sidebar__list-one, 
.sidebar__list-two {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

li > img {
    width: 1.6rem;
}

/* Main */

.main {
    background-color: var(--clr-primary-grey);
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
    
}


.main__projects {
    grid-row: 1 / 3;
    padding: 2rem;  
    
}

.main__panels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    height: 100vh;
    align-self: stretch;
    
}



.main__projects-panel {
    background-color: var(--clr-primary-white);
    border-radius: 5px;
    padding: 2rem;
    border-left: 0.6rem solid var(--clr-primary-yellow);
    box-shadow: 0px 0px 5px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
   
    


}

.main__projects-panel-content > h4 {
    font-size: 15pt;
}

.main__projects-panel-content > p {
    font-size: 14pt;
    
}

.main__projects-panel-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.main__announcements {
    padding-top: 2rem;
    padding-right: 2rem;
    
}

.main__announcements-content {
    background-color: var(--clr-primary-white);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    
    
    
    

    
}

.main__announcements-content-panel {
    width: 30ch;
    font-size: 15pt;
    
    
}

hr {
    width: 75%;
    color: var(--clr-primary-grey);
}

h2 {
    font-size: 25pt;
}

h3 {
    font-size: 20pt;
    padding: 1rem;
}



.main__trending {
    grid-column: 2 /3;
    margin-top: 1rem;
    padding-top: 3rem;
    padding-right: 2rem;
}

.main__trending-content {
    background-color: var(--clr-primary-white);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
    padding: 2rem;
    
}

.main__trending-content-profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 15pt;
}

/* 

.container {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}


.header {
    background-color: var(--clr-primary-white);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 2rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.header__search {
    display: grid;
    grid-template-columns: 1fr 40fr;
    justify-items: start;
 
}



.header__search__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.header__search__profile__name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__pfp {
    width: 55px;
    height: 55px;
    border-radius: 25px;

    box-shadow: 0px 0px 5px 0px;
}




.sidebar{
    background-color: var(--clr-primary-blue);
    color: var(--clr-primary-white);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 1rem;
    
    
    
   


  
    
    
}

h1 {
    display: flex;
    align-items: center;
    
}

h1 > img {
    width: 3rem;
    
}

.nav {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    
    
    
}

li {
    list-style: none;
    font-size: 20pt;
}

.main {
    background-color: var(--clr-primary-grey);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem;
    gap: 1rem;
    height: 100vh;
}

.main__panels {
    
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr 8fr 8fr 8fr;
    
    gap: 2rem 1rem;
   
}

h4 {
    grid-column: 1 / -1;
    padding: 0;
    margin: 0;
}

.main__side-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main__panels > article {
    background-color: white;
    border-radius: 5px;
    
    padding: 2rem;
    border-left: 0.6rem solid var(--clr-primary-yellow);
    box-shadow: 0px 0px 5px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main__panels-article-share {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.main__side-panel__announcements > article,
.main__side-panel__trending > article {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
    height: 5rem
}

input {
    width: 30rem;
    height: 1.4rem;
    border-radius: 25px;
    border: none;
    background-color: var(--clr-primary-grey);
    
}

*/


